Source: depend-test
Maintainer: Test Maintainer <test.maintainer@example.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), libdependable-dev

Package: depend-test
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libdependable
Description: A package with dependencies.
